.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  z-index: 1;
  padding-right: 80px;
}
.header__title {
  display: flex;
  color: black;
  max-width: 729px;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  position: relative;
  z-index: 2;
  align-items: flex-start;
}
.header__span-accent {
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  align-items: flex-start;
  position: relative;
  z-index: 1;
  flex-direction: row;
  padding-left: 80px;
  max-width: 683px;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.header__image {
  display: flex;
  position: absolute;
  width: 646px;
  height: 586px;
  right: 5px;
  top: 124px;
  padding-bottom: 80px;
}

.header__title-description {
  color: #6f6f6f;
  font-family: "Inter";
  font-style: normal;
  align-self: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header__hours {
  margin-bottom: 0;
  margin-top: 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: flex-end;
  left: 0px;
  bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 80px 0 80px;
}
.header__paragraph {
  margin-top: 0;
  margin-bottom: 0;
}
